@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a {
    color: black !important;
}

.brand-logo,h2 {
    font-family: 'Grand Hotel', cursive;
    margin-left: 30px;
}
.auth-card {
    max-width: 400px;
    padding: 20px;
    text-align: center;
    margin: 15px auto;
    
}
.collection-item {
    width: 100%;
}
.gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.items{
    width: 30%;
    min-height: 20vh;
    margin-bottom: 10px;
}
.profilePage {
    max-width: 70%;
    margin: 0 auto;
}
.home-card{
    max-width: 600px;
    margin: 40px auto;
}
#toast-container{
    top: 380px !important;
    right: 40% !important;
    left: auto !important;

}
.commentArea {
 display: flex;
 justify-content: space-between;
}
.userName {
    font-weight: bold;
}
.createdAt{
    font-weight: 400;
    color: rgb(184, 183, 183);
    position: relative;
    top: 10px;
}
.likeIcon {
    font-size: 2.5rem;
}
.deleteIcon:hover{
    font-size: 2.5rem;
}

.material-icons{
    cursor:pointer;
}
select{
    display: block;
}
.avatar{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
}
.countryFlag{
    width: 40px;
}
.flagCountryProfile{
    width: 70px;
    height: 7vh;
    margin-top: 5px;
}
.commentMsg {
    text-transform: capitalize;
    background-color: rgba(248, 247, 247, 0.425);
    box-shadow: 2px 3px 5px rgba(128, 128, 128, 0.397);
    padding:  5px 15px 5px;
    /* padding-right: 15px; */
   border-radius: 50px;
}